/* CSS imports*/
@import '@dataforsyningen/designsystem/index.scss';

/* Styling Openlayers */
.ol-zoom {
  bottom: 2rem;
  right: 1rem;
  position: absolute;
}

.ol-zoom-in, .ol-zoom-out {
  margin: 0.25rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.15rem 0.3rem hsl(0, 0%, 50%, 0.5);
}

.ol-rotate {
  position: absolute;
  bottom: 8rem;
  right: 1rem;
}

.ol-rotate-reset {
  box-shadow: 0 0.15rem 0.3rem hsl(0, 0%, 50%, 0.5);
}

/* Layer actions styles */
article.style {
  position: relative;
}

vt-actions {
  display: flex;
  position: absolute;
  bottom: 1.8rem;
  right: 0;
  z-index: 2;
  background-color: hsla(0,0%,0%,0.2);
  padding: 0.25rem;
  border-radius: 0.5rem 0 0 0;
}